@model MASGlobal.Employees.WebApp.Models.GetEmployeesViewModel

@{
    ViewData["Title"] = "Home Page";
}

<form class="m-1 p-1" method="post">

    <div class="text-center">
        <h1 class="display-4">Welcome to the Employees Portal!!!</h1>
    </div>

    <p></p>

    <div class="form-group">

        <label class="col-form-label-lg" asp-for="SearchText">Please type the Employee Id, leave it blank to get all employees : </label>
        <input asp-for="SearchText" class="form-control"/>
    </div>

    <div class="text-left">
        <button type="submit" class="btn btn-primary">Get Employees</button>
    </div>

</form>