@{
    ViewData["Title"] = "Home Page";
}

<form class="m-1 p-1" asp-controller="Employee" asp-action="Home">

    <div class="text-center">
        <h1 class="display-4">Welcome to the new MASGlobal Portal!!!</h1>
    </div>

</form>